
*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

/*form{
 display: flex;
 flex-direction: column;
  padding: 50px;
 background-color: aqua;
 justify-content: center;
 align-items: center;

}*/  



.container-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  height: 100vh;
  
  font-family: 'Ubuntu', sans-serif;
  color: white;

}
.container-form form {
  display: flex;
  flex-direction: column;
  box-shadow: 3px;
  
  border: black 2px solid;
  border-radius: 13px;
  padding: 1.2rem 2rem 2rem;
  width: 325px;
  
  backdrop-filter: blur(100px);
  background-color: transparent;
}
.container-form form label {
  color: black;
  padding: 0.7rem 0 0.3rem 0;
}
.container-form form input {
  border: black 2px solid;
  border-radius: 5px;
  padding: 0.4rem;
  
  font-family: 'Ubuntu', sans-serif;
  
  backdrop-filter: blur(10px);
  background-color: transparent;
  color: rgb(0, 0, 0);
}
.container-form form input:hover {
  color: white;
}
.container-form form input:focus {
  transition: 0.4s;
  border-color: white;
  outline: none;
}
#acess {
  color: black;
  margin: 1.1rem 0 0.7rem;
}
#messErro {
  font-size: 1rem;
}
.info {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}
.info a {
  color: skyblue;
}
p{
  font-size: 20px;
  color: red;
}


main{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url(https://wallpaperaccess.com/full/3059666.jpg);

}

form h1{
  color: black;
}

